<%- include('partial/head') %>

<div class="l-content">
  <h1 class="heading_primary">ditate, maiores distinctio.</h1>
  <p class="text_letter">Lorem ipsum dolor sit amet, xcepturi distinctio incidunt natus, repellendus dolore vero beatae necessitatibus maxime. Expedita odit in natus odio fugiat laboriosam officiis, aliquid reprehenderit iste vero ipsum ipsam libero, quod repellendus magni. Doloribus minima ex, necessitatibus eligendi id fugiat eaque molestias et nulla esse animi accusamus voluptatum voluptas deleniti fuga repellat, dolor ad, debitis ab nostrum porro laborum. Dignissimos perspiciatis possimus sapiente provident voluptatem aliquam laborum, similique ut dolor tempore ducimus alias placeat veritatis fugit!</p>
  <p class="text_letter">um architecto aspernatur soluta quis beatae ab velit cupiditate, Lorem ipsum dolor sit amet.maiores distinctio. Provident perferendis illum voluptas consectetur maiores vitae assumenda excepturi distinctio incidunt natus, repellendus dolore vero beatae necessitatibus maxime. Expedita odit in natus odio fugiat laboriosam officiis, aliquid reprehenderit iste vero ipsum ipsam libero, quod repellendus magni. Doloribus minima ex, necessitatibus eligendi id fugiat eaque molestias et nulla esse animi accusamus voluptatum voluptas deleniti fuga repellat, dolor ad, debitis ab nostrum porro laborum. Dignissimos perspiciatis possimus sapiente provident voluptatem aliquam laborum, similique ut dolor tempore ducimus alias placeat veritatis fugit!</p>
</div>

<%- include('partial/foot') %>