.l-wrapper {
  
}

.l-header {
  height: 200px;
  background-color: #cca;
}

.l-content {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.l-footer {
  height: 50px;
  background-color: #aca;
}